<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "http://res.cloudinary.com/dzdm1lpgi/image/upload/v1678288069/ekmjcphmr4fhw3vou4pn.png" %>
        <% end %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "My wishlist", "#", class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Social", "#", class: "nav-link" %>
        </li>
        <li class="nav-item active">
         <%= link_to "My Sub", edit_user_registration_path , class: "nav-link" %>
        </li>

      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

          <li class="nav-item">
            <%= form_with url: root_path, method: :get, class: "group6" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "input6",
                placeholder: "Search movies, series, actors.."
                %>
              <i class="fas fa-search search-icon"></i>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
              <i class="fa-solid fa-bell"></i>
              <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#{current_user.first_name}", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, height: 40, width: 40, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end downdrop" aria-labelledby="navbarDropdown">
                <%= link_to "Edit my profile", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
