<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div class="collapse navbar-collapse navbar-first" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "http://res.cloudinary.com/dzdm1lpgi/image/upload/v1678706265/umix7mnldjdu8klw1jxr.png" %>
        <% end %>

        <li class="nav-item underlined">
          <% if params[:action] == "home" %>
            <%= link_to "Home", root_path, class: "nav-link activated", style:"--glow-color: rgb(217, 176, 255);
                --glow-spread-color: rgba(191, 123, 255, 0.781);
                --enhanced-glow-color: rgb(231, 206, 255);
                color: var(--glow-color);
                text-shadow: var(--glow-spread-color) 1px 0 10px;
                border-bottom: solid 2px rgb(217, 176, 255)" %>
          <% else %>
            <%= link_to "Home", root_path, class: "nav-link"%>
          <% end %>
        </li>

        <li class="nav-item underlined">
          <% if params[:action] == "list" %>
            <%= link_to "My wishlist", wishlist_path, class: "nav-link activated", style:"--glow-color: rgb(217, 176, 255);
                --glow-spread-color: rgba(191, 123, 255, 0.781);
                --enhanced-glow-color: rgb(231, 206, 255);
                color: var(--glow-color);
                text-shadow: var(--glow-spread-color) 1px 0 10px;
                border-bottom: solid 2px rgb(217, 176, 255)" %>
          <% else %>
            <%= link_to "My wishlist", wishlist_path, class: "nav-link"%>
          <% end %>
        </li>

          <%# <li class="nav-item active">
          <%= link_to "Social", social_path, class: "nav-link" %>
          <%# </li> %>

        <li class="nav-item underlined">
          <% if params[:action] == "sub" %>
            <%= link_to "My sub", sub_path, class: "nav-link activated", style:"--glow-color: rgb(217, 176, 255);
                --glow-spread-color: rgba(191, 123, 255, 0.781);
                --enhanced-glow-color: rgb(231, 206, 255);
                color: var(--glow-color);
                text-shadow: var(--glow-spread-color) 1px 0 10px;
                border-bottom: solid 2px rgb(217, 176, 255)" %>
          <% else %>
            <%= link_to "My sub", sub_path, class: "nav-link"%>
          <% end %>
        </li>

        <%# <li class="nav-item underlined">
          <% if params[:action] == "favorites" %>
            <%#= link_to "My favorites", favorites_path, class: "nav-link activated", style:"--glow-color: rgb(217, 176, 255);
                --glow-spread-color: rgba(191, 123, 255, 0.781);
                --enhanced-glow-color: rgb(231, 206, 255);
                color: var(--glow-color);
                text-shadow: var(--glow-spread-color) 1px 0 10px;
                border-bottom: solid 2px rgb(217, 176, 255)" %>
          <%# else %>
            <%#= link_to "My favorites", favorites_path, class: "nav-link"%>
          <%# end %>
        <%#</li> %>

      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto navbar-second">
        <% if user_signed_in? %>
          <li class="nav-item nav-item-search">
            <div >
              <%= form_with url: root_path, method: :get, html: {class: "group6", data: {search_movies_target: "form"}} do |f| %>
                      <%= f.text_field :query,
                      class: "input6",
                      placeholder: "Type a movie title",
                      value: params[:query],
                      data: {search_movies_target: "input",
                      action: "keyup->search-movies#update"} %>
                <i class="fas fa-search search-icon"></i>
              <% end %>
            </div>
          </li>

              <%# <li class="nav-item"></li>
              <%= link_to root_path, class: "nav-link" do <i class="fa-solid fa-bell"></i>%>
              <%# end %>

          <li class="nav-item">
            <div class="nav-link profile-name"><%= current_user.first_name %></div>
          </li>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, height: 40, width: 40, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end downdrop" aria-labelledby="navbarDropdown">
                <%= link_to "Edit my profile", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
