<div data-controller="movie-modal">
  <button>
    <div class="card-movie" data-action="click->movie-modal#display" data-controller="add-button" data-add-button-url1-value=<%= add_path(movie)%> data-add-button-url2-value=<%= seen_path(movie)%> data-add-button-url3-value=<%= liked_path(movie)%> data-add-button-url4-value=<%= unliked_path(movie)%>%>
      <%= image_tag(movie.picture_url, height: 287, width: 192, crop: :fill) %>
      <div class="card-footer d-flex flex-row justify-content-between p-2">
        <%= link_to add_path(movie), data: {action:"click->add-button#insert"} do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
        <%= link_to seen_path(movie), data: {action:"click->add-button#seen"} do %>
          <i class="fa-solid fa-eye"></i>
        <% end %>
        <%= link_to liked_path(movie), data: {action:"click->add-button#liked"} do %>
          <i class="fa-solid fa-thumbs-up"></i>
        <% end %>
        <%= link_to unliked_path(movie), data: {action:"click->add-button#unliked"}  do %>
          <i class="fa-solid fa-thumbs-down"></i>
        <% end %>
      </div>
    </div>
  </button>
  <div class="d-flex flex-row d-none" data-movie-modal-target="modal">
    <%= image_tag(movie.picture_url, height: 287, width: 192, crop: :fill) %>
    <div class="flex m-2">
      <h1><%= movie.title %></h1>
      <p><%= movie.synopsis %></p>
    </div>
    <div class="flex">
      <p><%= movie.genre %></p>
      <p><%= movie.platform %></p>
    </div>
  </div>
</div>
