<div data-controller="movie-modal add-button" class="only-for-border" data-add-button-url1-value=<%= add_path(movie)%> data-add-button-url2-value=<%= seen_path(movie)%> data-add-button-url3-value=<%= liked_path(movie)%> data-add-button-url4-value=<%= unliked_path(movie)%>  >
  <% if movie.bookmarks.where(user: current_user) != [] && movie.bookmarks.where(user: current_user).first[:ticked] == true
      displays = ""
      else
      displays = "d-none"
      end
  %>
  <div data-add-button-target= "checkbutton" class="border-when-selected <%= displays%>">
    <i class="fa-solid fa-check ticked-add-wishlist"></i>
  </div>

  <div class="card-movie d-flex flex-column" >
    <%= image_tag(movie.picture_url, height: 258, width: 172, crop: :fill) %>
    <div class="clickable-zone" data-action="<%= params[:action] != "list" ? "click->movie-modal#display" : ""%>"></div>
    <div class="card-footer d-flex flex-row justify-content-between p-2">
      <% if movie.bookmarks.where(user: current_user) != [] && movie.bookmarks.where(user: current_user).first[:ticked] == true %>
        <%= link_to add_path(movie), data: {action:"click->add-button#exit"} do %>
          <i class="fa-solid fa-trash buttons-footer-card" data-add-button-target = "removelink"></i>
        <% end %>
      <% else %>
        <%= link_to add_path(movie), data: {action:"click->add-button#insert"} do %>
          <i class="fa-solid fa-plus buttons-footer-card" data-add-button-target= "addlink"></i>
        <% end %>
      <% end %>
      <% if params[:action] == "list" %>
        <i class="fa-solid fa-eye buttons-footer-card" data-action="click->movie-modal#display"></i>
      <% end %>
      <div class="d-flex flex-row">
        <%= link_to liked_path(movie), data: {action:"click->add-button#liked"} do %>
          <i class="fa-solid fa-thumbs-up buttons-footer-card me-2"></i>
        <% end %>
        <%= link_to unliked_path(movie), data: {action:"click->add-button#unliked"} do %>
          <i class="fa-solid fa-thumbs-down buttons-footer-card"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal-container d-none" data-movie-modal-target="modal">
    <div class="modal-backdrop" data-action="click->movie-modal#close">
    </div>
    <div class="d-flex flex-row movie-modal" id="modal">
      <a href="<%= movie.plateform_url %>" target="_blank"><%= image_tag(movie.picture_url, height: 287, width: 192, crop: :fill) %></a>
      <div data-action="click->movie-modal#close">
        <i class="fa-solid fa-xmark icon-cross"></i>
      </div>
      <div class="m-3">
        <div class="d-flex">
          <div class="flex col-7 ms-4 mb-3 mt-2">
            <h1><%= movie.title %></h1>
            <div class="mb-2">
              <% movie_rating = movie.rating.round %>
              <% if movie_rating.even? %>
                <% stars_number = movie_rating / 2 %>
                <% empty_stars_number = 5 - stars_number %>
                <% stars_number.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
                <% empty_stars_number.times do %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
              <% else %>
                <% stars_number = (movie_rating - 1) / 2 %>
                <% empty_stars_number = 5 - (stars_number + 1) %>
                <% stars_number.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
                <i class="fa-solid fa-star-half-stroke"></i>
                <% empty_stars_number.times do %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="platform">
            <% case movie.platform %>
            <% when "Netflix" %>
              <a href="<%= movie.plateform_url %>" target="_blank"><%= image_tag("netflix.png")%></a>
            <% when "Amazon Prime Video" %>
              <a href="<%= movie.plateform_url %>" target="_blank"><%= image_tag("amazon.png")%></a>
            <% when "AppleTV+" %>
              <a href="<%= movie.plateform_url %>" target="_blank"><%= image_tag("aptv.png")%></a>
            <% else %>
              <a href="<%= movie.plateform_url %>" target="_blank"><%= image_tag("disney.png")%></a>
            <% end %>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex col-8 me-2 px-4">
            <p><%= movie.synopsis %></p>
          </div>
          <div class="flex info">
            <p><strong>Genres:</strong> <%= movie.genre %></p>
            <p><strong>Distribution:</strong> <%= movie.actors %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
