<div data-search-movies-target="list">

  <% if @results %>
  <div class="search-title"><strong><%= @results.size %></strong> results for : <%= params[:query]%></div>
  <div class="container-search">
    <% @results.each do |movie| %>

        <div>
          <%= render "cardmovie", movie: movie %>
        </div>

    <% end %>

    </div>

<% else %>

  <div class="banner" style="background-image: url(<%= asset_path('banner.jpg') %>);">
  </div>

    <div class="container-banner">
    </div>

    <div data-controller="typed-js">
      <div class="title-banner">
        <span data-typed-js-target="line"></span>
      </div>
      <div class="titles-banner">
        <span data-typed-js-target="lines"></span>
      </div>
    </div>

  <div class="mt-3">

    <% movies = @movies_amazon %>
    <% platform = "amazon" %>
    <%= render "carroussel", movies: movies, platform: platform %>
    <div class="separation">
    </div>

    <% movies = @movies_netflix %>
    <% platform = "netflix" %>
    <%= render "carroussel", movies: movies, platform: platform %>
    <div class="separation">
    </div>

    <% movies = @movies_disney %>
    <% platform = "disney" %>
    <%= render "carroussel", movies: movies, platform: platform %>
    <div class="separation">
    </div>

    <% movies = @movies_aptv %>
    <% platform = "aptv" %>
    <%= render "carroussel", movies: movies, platform: platform %>
    <div class="separation">
    </div>

    <% movies = @movies_comedy %>
    <% genre = "Comedy" %>
    <%= render "carroussel", movies: movies, platform: genre %>
    <div class="separation">
    </div>

    <% movies = @movies_action %>
    <% genre = "Action" %>
    <%= render "carroussel", movies: movies, platform: genre %>
    <div class="separation">
    </div>

    <% movies = @movies_horror %>
    <% genre = "Horror" %>
    <%= render "carroussel", movies: movies, platform: genre %>
    <div class="separation">
    </div>

    <% movies = @movies_adventure%>
    <% genre = "Adventure" %>
    <%= render "carroussel", movies: movies, platform: genre %>
    <div class="separation">
    </div>

    <% movies = @movies_fantasy %>
    <% genre = "Fantasy" %>
    <%= render "carroussel", movies: movies, platform: genre %>

  </div>

<% end %>
</div>
