<h1>homepage</h1>

<% if @results %>
  <% @results.order("rating DESC").each do |movie| %>
    <div class="card-movie">
      <%= image_tag(movie.picture_url, height: 287, width: 192, crop: :fill) %>
      <div class="card-footer d-flex flex-row justify-content-between p-2">
        <%= link_to add_path(movie) do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
        <%= link_to seen_path(movie) do %>
          <i class="fa-solid fa-eye"></i>
        <% end %>
        <%= link_to liked_path(movie) do %>
          <i class="fa-solid fa-thumbs-up"></i>
        <% end %>
        <%= link_to unliked_path(movie) do %>
          <i class="fa-solid fa-thumbs-down"></i>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <% @movies.where(platform: "Netflix").order("rating DESC").first(20).each do |movie| %>
    <div class="card-movie">
      <%= image_tag(movie.picture_url, height: 287, width: 192, crop: :fill) %>
      <div class="card-footer d-flex flex-row justify-content-between p-2">
        <%= link_to add_path(movie) do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
        <%= link_to seen_path(movie) do %>
          <i class="fa-solid fa-eye"></i>
        <% end %>
        <%= link_to liked_path(movie) do %>
          <i class="fa-solid fa-thumbs-up"></i>
        <% end %>
        <%= link_to unliked_path(movie) do %>
          <i class="fa-solid fa-thumbs-down"></i>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
