<h1>homepage</h1>

<% @movies.where(platform: "Netflix").order("rating DESC").first(20).each do |movie| %>
  <div>
  <p> <%= movie.id %></p>
    <%= image_tag movie.picture_url %>
    <%= link_to "add",  add_path(movie) %>
    <%= link_to "seen",  seen_path(movie) %>
    <%= link_to "liked",  liked_path(movie) %>
    <%= link_to "unliked",  unliked_path(movie) %>

  </div>
<% end %>
