<div class="wrapper-wish">

  <div class="container-wish">

    <ul data-controller="sortable" data-sortable-resource-name-value="priority">
      <% @bookmarks.each do |bookmark| %>
        <!-- <li data-sortable-update-url="/todos/1">Pet the cat</li> -->
        <li style="color: white;" data-sortable-update-url="<%= priority_path(bookmark) %>">
          <% movie = bookmark.movie %>
          <div data-controller="remove" data-remove-url5-value=<%= add_path(movie)%>>
            <%= render "cardmovie", movie: movie %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="side-wish">

    <div class="wish-notice">
      <p><i class="fa-sharp fa-solid fa-arrow-left"></i>  Sort your items by priority</p>
      <br>
      <p><i class="fa-sharp fa-solid fa-clock"></i>  Give us your availability</p>
      <%= simple_form_for(@user, url: profile_update_path(@user)) do |f| %>
        <%= f.input :availability,
        label: false,
        placeholder: "How many hours ?",
        input_html: { class: 'input-login-sub' }
        %>
        <%= f.submit "Generate my sub", :class => "btn-sub2" %>
      <% end %>
    </div>
    <br>
    <p><i class="fa-solid fa-tv"></i>  Check the best recommended sub for youuuuuuuu</p>

    <div class="wish-sub-btn">
      <%= link_to sub_path, class:"btn-sub" do %>Generate my sub<% end %>
    </div>

  </div>

</div>
