<h1>My wishlist</h1>

<div class="container">
  <ul data-controller="sortable" data-sortable-resource-name-value="priority">
    <% @bookmarks.each do |bookmark| %>
      <!-- <li data-sortable-update-url="/todos/1">Pet the cat</li> -->
      <li style="color: white;" data-sortable-update-url="<%= priority_path(bookmark) %>">
        <% movie = bookmark.movie %>
        <%= render "cardmovie", movie: movie %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container">
  <%= simple_form_for(@user, url: profile_update_path(@user)) do |f| %>
    <%= f.input :availability, label: "How many hours are you available during the following month ?" %>
    <%= f.submit "Generate my sub" %>
  <% end %>
</div>

<div class="container">
  <%= link_to sub_path do %>Generate my sub<% end %>
</div>
