<div class="container-sub">

  <h1 class="mt-3 mb-3">My sub</h1>

  <div class="d-flex flex-row align-items-center">
    <h4 class="me-3">We suggest you to subscribe for the next month to :</h4>
    <%= image_tag("#{@platform_for_logo}.png", width:150, crop: :fill)%>
  </div>

    <p>Description of the platform : </p>
    <ul class="d-flex flex-column">
      <li>Price of the sub</li>
      <li>Welcoming offer</li>
      <li>Number of screen</li>
    </ul>

    <h4>Series to watch on the platform:</h4>
    <div class="d-flex flex-row flex-wrap">
      <% @movies_necessary.each do |movie| %>
        <% if movie[:category] == "series" && movie[:platform] == @platform_for_filter %>
            <%= render "cardmovie", movie: movie %>
        <% end %>
      <% end %>
    </div>

    <h4>Movies to watch on the platform:</h4>
      <div class="d-flex flex-row flex-wrap">
        <% @movies_necessary.each do |movie| %>
          <% if movie[:category] == "movie" && movie[:platform] == @platform_for_filter %>
            <%= render "cardmovie", movie: movie %>
          <% end %>
        <% end %>
      </div>

    <h4>Optional series to watch on the platform:</h4>
    <div class="d-flex flex-row flex-wrap">
      <% @movies_optional.each do |movie| %>
        <% if movie[:category] == "series" && movie[:platform] == @platform_for_filter %>
            <%= render "cardmovie", movie: movie %>
        <% end %>
      <% end %>
    </div>

    <h4>Optional movies to watch on the platform:</h4>
      <div class="d-flex flex-row flex-wrap">
        <% @movies_optional.each do |movie| %>
          <% if movie[:category] == "movie" && movie[:platform] == @platform_for_filter %>
            <%= render "cardmovie", movie: movie %>
          <% end %>
        <% end %>
      </div>
</div>
