<p><%= @pair_minutes_extended.sort_by {|key, value| value}.reverse! %></p>
<p><%= @pair_indexed_average.sort_by {|key, value| value}.reverse! %></p>
<p><%= @pair_minutes_wishlist %></p>
<p><%= @pair_final.sort_by {|key, value| value} %></p>
<p><%= @final_answer %></p>

<div class="container">

  <h1 class="mt-3 mb-3">My sub</h1>

  <div class="d-flex flex-row align-items-center">
    <h4 class="me-3">We suggest you to subscribe for the next month to :</h4>
    <%= image_tag("#{@platform_for_logo}.png", width:150, crop: :fill)%>
  </div>

    <p>Description of the platform : </p>
    <ul class="d-flex flex-column">
      <li>Price of the sub</li>
      <li>Welcoming offer</li>
      <li>Number of screen</li>
    </ul>

    <h4>Series to watch on the platform:</h4>
    <div class="d-flex flex-row flex-wrap">
      <% @bookmarks.each do |bookmark| %>
        <% movie = Movie.find(bookmark.movie_id) %>
        <% if movie[:category] == "series" && movie[:platform] == @platform_for_filter %>
          <%= render "cardmovie", movie: movie %>
        <% end %>
      <% end %>
    </div>

    <h4>Movies to watch on the platform:</h4>
      <div class="d-flex flex-row flex-wrap">
        <% @bookmarks.each do |bookmark| %>
          <% movie = Movie.find(bookmark.movie_id) %>
          <% if movie[:category] == "movie" && movie[:platform] == @platform_for_filter %>
            <%= render "cardmovie", movie: movie %>
          <% end %>
        <% end %>
      </div>

</div>
